body {
    background-color: black;
    color:white;
    font-size: 18px;
    font-style: bold;
}

.logoescola {
    width: 30%;
}

.meio{
    justify-content: space-around;
    Display:flex;
}

.topico{
    margin-right: 10cm;
    
}

.item {
    margin-top: 30px; /* Espaço superior de 10 pixels */
    margin-bottom: 30px; /* Espaço superior de 10 pixels */
    width: 300px;
}

